<!--Handlebars allows for template reuse through partials. 
Partials are normal Handlebars templates that may be called directly by other templates.-->

<form action="burgers/delete/{{this.id}}?_method=DELETE" method="POST">
<button type="submit">DELETE!</button>
</form>
